:root {
    --primary-color:#31343D;
    --secondary-color:#92CCCE;
  }
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
  body {
      color: #8596bb;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Arial, sans-serif;
      background-color: #31343D;
    }
  
  /* styles header */
  header {
      padding: 10px 10px;
      background-color: #31343D;
      display:flex;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: center;
    }
  
  header h1 {
      font-weight: bold;
      font-size: 40px;
      color: var(--primary-color);
      margin-left: 5px;
      text-align: center;
      background-color: var(--secondary-color);
      
    }
  
  header nav {
      margin: 12px 8;
    }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    }
  
  header nav ul li a {
      margin: 0 30px;
      font-weight: lighter;
      font-size: 160%;
      color: var(--primary-color);
      text-decoration: none;
      border-bottom: 2px solid;
      padding-bottom: 2px;
      color: var(--secondary-color);
      font-family:Arial, Helvetica, sans-serif;
    }

    /*second header with avatar and "cool text" per requirements */
    .secondblock {
      height: 180px;
      width: 100%;
      background-image: url(https://raw.githubusercontent.com/HibiAdelei/portfolio/main/assets/images/techbackground.png);
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      position: relative;
    }
    
    .avatar {

      position: absolute;
      top: 15px;
      left: 50px;
      height:160px;
      width: 160px;
 
    }

    .secondblock h2 {
      font-size: 30px;
    color: var(--primary-color);
    margin-top: 50%;
    margin-right: 12px;
    

    }

  
    /*styles border for about me section*/
    .aboutme-border {
      height: 100%;
      border-left: 4px solid #c28dc2;
      flex: 1 2%;
    }
    /*styles border for projects section*/
    .project-border {
      height: 100%;
      border-right: 4px solid #c28dc2;
      flex: 1 1%;
    }

    

    .flex-row {
      display: flex;
      justify-content: left;
    } 

    .sectionheader {
      font-size: 25px;
      color: #8596bb;
      margin: 0 0 0 15px;
      width: 50%;
    }
    
  .info {
      flex: 2 20%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .about-paragraph {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 25px 10px;  
      width: 85%;
    
    }
   
    .aboutme-text {
      flex: 25;
    }



    .container {
      display: flex;
      flex: 50;
      align-items: center;
      justify-content: space-between;
      margin-left: 20px;
      width: 50%;
    
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(2, 100px);
      grid-template-rows: repeat(2, 100px);
      grid-gap: 15px;
      margin-left: 30px;     
      
    }
    
  .card {
    position: relative;
  }
 
/*floating captions inside cards describing projects*/
   figcaption {
    position: absolute;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
    color:  rgba(26, 33, 70, 0.932);
    border: dashed 2px var(--primary-color);
    background-color: rgba(229, 232, 238, 0.384);
    text-align: center;
  }



  .project-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid 1px var(--primary-color);

  }

  .card-1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
}

  .card-2 { 
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    }

    
/* extra cards commented out until projects built to suit them. 
  *TODO: play with spacing and maybe rebuild grid to make cards fit neater.
    .card-3 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 5;
      grid-row-end: 4;

    }

    .card-4 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;

    } */

    .contact-border {
    
      height: 100%;
      border-left: 4px solid #c28dc2;
      flex: 1 1%;
    }

    .contact-info {
      display: flex;
      flex-wrap: wrap;
      

    }
.contact-info li a {
flex-wrap: nowrap;
margin-left: 10px;
list-style: none;
font-size: smaller;
color: #8596bb;
justify-content:center;



}

    /*responsive styling for media*/
  }
    @media screen and (max-width: 980px) {
        header {
          padding-bottom: 5px;
          justify-content: center;
        }
      
        header h1 {
          width: 100%;
          text-align: center;
        }
      
        header nav ul {
          margin-top: 12px;
          width: 100%;
          justify-content: center;
          flex-direction: row;
          line-height: 2;
        }
      
        header nav ul li a {
          font-size: 14px;
          font-weight: bolder;
        }